.widget {
	margin: 0 0 map-get($grid-column-gutter, small);

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-sidebar {
	clear: both;
	padding: map-get($grid-column-gutter, small) / 2;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget-title {
	font-size: 22px;
	line-height: 30px;
	padding: 0 10px;
}

.after-title {
	width: 95%;
}

.widget-post--custom {
	display: flex;
}

.widget-post__title {
	margin-left: 5px;
}

.widget-post__author {
	margin-top: -15px;
	margin-left: 5px;
	font-size: 12px;

	.author a{
		color: $red-light;

		&:hover{
			text-decoration: underline;
		}
	}
}

.widget-post__img {
	height: 45px;
	width: 45px;
	border-radius: 3px;
	margin-top: 20px;
}
