.sticky {
	display: block;
}

.hentry {
	margin: 0 0 24px;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 24px 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 24px;
}

.site-main {
	background: $white;
	padding: 15px;
}

.designfly-pagination {
	text-align: center;
}

/* Portfolio page*/
.portfolio-content {
	margin: 30px 480px;
	display: grid;
	justify-content: space-evenly;
	grid-template-areas: " img img img ";
}

.portfolio-title {
	p {
		margin: 20px 500px;
		font-weight: 100;
		font-size: 45px;
		text-shadow: 2px $white;

		.portfolio-button {
			margin-left:50%;
			font-size: 16px;
			padding: 2px 7px;
			color: $white;
			background: $black;
			border-radius: 3px;

			&:hover {
				color: $red-light;
			}
		}
	}
}

.post-thumbnail img {
	width: 300px;
	height: 210px;
	border-radius: 10px;
}
