.sticky {
	display: block;
}

.hentry {
	margin: 0 0 24px;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 24px 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 24px;
}

.site-main {
	padding: 15px;
}

.designfly-pagination {
	text-align: center;

	.current {
		height: 30px;
		width: 30px;
		padding: 0 7px;
		font-size: 16px;
		background-color: $red-light;
		color: $white;
		border-radius: 3px;

		&:hover {
			background-color: $white;
			color: $black;
		}
	}

	.page-numbers {
		height: 30px;
		width: 30px;
		padding: 0 7px;
		font-size: 16px;
		border-radius: 3px;

		&:hover {
			background-color: $red-light;
			color: $white;
		}
	}
}

.designfly-custom-pagination {
	.current {
		height: 30px;
		width: 30px;
		padding: 0 7px;
		font-size: 16px;
		background-color: $red-light;
		color: $white;
		border-radius: 3px;

		&:hover {
			background-color: $white;
			color: $black;
		}
	}

	.page-numbers {
		height: 30px;
		width: 30px;
		padding: 0 7px;
		font-size: 16px;
		border-radius: 3px;

		&:hover {
			background-color: $red-light;
			color: $white;
		}
	}
}

/* Portfolio page*/
.portfolio-content {
	margin: 30px 480px;
	display: grid;
	justify-content: space-evenly;
	grid-template-areas: " img img img ";
}

.portfolio-title {
	p {
		margin: 20px 500px;
		font-weight: 100;
		font-size: 45px;
		text-shadow: 2px $white;

		.portfolio-button {
			margin-left: 50%;
			font-size: 16px;
			padding: 2px 7px;
			color: $white;
			background: $black;
			border-radius: 3px;

			&:hover {
				color: $red-light;
			}
		}
	}
}

.post-thumbnail {
	display: inline-block;
	background: $black;
	border-radius: 10px;
}

.post-thumbnail img {
	width: 300px;
	height: 210px;
	border-radius: 10px;
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}
}

.designfly-custom-pagination {
	width: 220%;
	text-align: center;
	margin-left: 50%;
}

/* LightBox */

.lightbox {
	position: fixed;
	z-index: $z-index-lightbox;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;

	&.active {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.lightbox-img {
		position: relative;
		background-color: $white;
		padding: 20px 20px 80px 20px;
	}

	.lightbox-close {
		text-align: center;
		margin-bottom: 2px;
		position: absolute;
		top: 0;
		right: -20px;
		color: $black;
		cursor: pointer;
		width: 20px;
		background-color: $white;
		border-radius: 0 2px 2px 0;

		&:hover {
			color: $red-100;
		}
	}

	.lightbox-title {
		color: $black;
		position: absolute;
		bottom: 20px;
		margin-left: 36px;
		text-align: center;
		width: 80%;
	}

	.lightbox-next {
		color: $black;
		position: absolute;
		bottom: 20px;
		right: 20px;
		cursor: pointer;

		&:hover {
			color: $red-100;
		}
	}

	.lightbox-prev {
		color: $black;
		position: absolute;
		bottom: 20px;
		left: 20px;
		cursor: pointer;

		&:hover {
			color: $red-100;
		}
	}

	.wp-post-image {
		height: 500px;
		background-color: $white;
		border-radius: 5px;
	}
}

/* blog page */
.designfly-blog-main {
	display: grid;
	margin: 0 250px;
	grid-template-areas:
		"servicebar servicebar servicebar "
		"blog blog sidebar";

	.lets-blog {
		text-shadow: 2px $white;
		font-weight: 100;
		font-size: 45px;
	}

	.lets-blog-hr {
		width: 100%;
		margin-bottom: 20px;
	}
	.primary {
		grid-area: blog;
		margin-left: 240px;

		.big-title {
			display: flex;
			align-items: center;
			color: $white;
			background-color: #222222;
			color: $white;
			height: 50px;
			border-radius: 3px;
			cursor: pointer;

			/* stylelint-disable */
			&:hover {
				background-color: $red-100;
			}
			/* stylelint-enable */
		}

		.title-time {
			border-right: 1px solid $white;
			display: grid;
			justify-content: center;
			width: 50px;
		}

		.entry-meta {
			position: relative;
			font-size: 13px;
			top: 40px;
			margin-left: 240px;
		}

		.blog-comment-no {
			float: right;
			color: $red-light;
		}

		.title-meta-hr {
			width: 98%;
		}

		.title-days {
			font-size: 25px;
			position: relative;
			top: 5px;
		}

		.title-month {
			position: relative;
			bottom: 5px;
			font-size: 14px;
			text-transform: uppercase;
		}

		.entry-title a {
			color: $white;
			font-weight: 100;
			margin-left: 20px;
		}

		.entry-content {
			font-size: 14px;
			margin-left: 20px;
		}

		.moretag {
			text-transform: uppercase;
			color: $red-light;

			/* stylelint-disable */
			&:hover {
				text-decoration: underline;
			}
			/* stylelint-enable */
		}

		.blog-post-container {
			display: grid;
			grid-template-columns: auto auto;
			justify-content: space-around;
			align-items: center;
		}

		.wp-post-image {
			width: 220px;
			height: 153px;
			border-radius: 10px;
		}

		.cat-links {
			display: none;
		}

		.comments-link {
			display: none;
		}

		.tags-links {
			display: none;
		}
	}

	.secondary {
		grid-area: sidebar;
		margin-right: 240px;

		.portfolio_widget {
			display: grid;
			grid-template-areas: "img img img img";
			grid-gap: 10px;
		}

		.widget-title {
			text-shadow: 2px $white;
			font-size: 25px;
			font-weight: 100;
		}

		.portfolio__img {
			height: 60px;
			width: 60px;
			border-radius: 5px;
		}
	}
}

/* single page */
.designfly-single-blog {
	display: grid;
	margin: 0 250px;
	grid-template-areas:
		"servicebar servicebar servicebar "
		"blog blog sidebar";

	.primary {
		grid-area: blog;
		margin-left: 240px;

		.entry-title {
			font-size: 35px;
			font-weight: 100;
			text-shadow: 2px $white;
		}

		.entry-content {
			font-size: 14px;
			line-height: 21px;
		}

		.wp-block-image img {
			border-radius: 3px;
			width: 620px;
		}

		.comment-body {
			margin: 10px;
		}

		.comment-form-author {
			display: flex;
			flex-direction: column;
			float: left;
			max-width: 30%;
			margin: 10px;
		}

		.comment-form-email {
			display: flex;
			flex-direction: column;
			float: left;
			max-width: 30%;
			margin: 10px;
		}

		.comment-form-url {
			display: flex;
			flex-direction: column;
			float: left;
			max-width: 30%;
			margin: 10px;
		}

		.comment-form-comment textarea {
			grid-area: comment;
			border: 1px solid $general-color;
		}

		.comment-form-author input {
			grid-area: author;
			border: 1px solid $general-color;
		}

		.comment-form-email input {
			grid-area: email;
			border: 1px solid $general-color;
		}

		.comment-form-url input {
			grid-area: url;
			border: 1px solid $general-color;
		}

		.comment-notes {
			display: none;
		}

		.byuser {
			background-color: $white;
		}
		.comment-meta {
			font-size: 13px;
		}
		.vcard img {
			display: none;
		}

		.comment-meta::before {
			margin: 0 5px;
			content: "💬";
		}

		.vcard a {
			color: $red-light;
			margin-right: 2px;
			/* stylelint-disable */
			&:hover {
				text-decoration: underline;
				text-decoration-thickness: 2px;
			}
			/* stylelint-enable */
		}

		.says {
			display: none;
		}

		.comment-metadata {
			margin-left: 2px;
		}

		.comment-metadata a {
			/* stylelint-disable */
			::before {
				content: "said on";
			}
			/* stylelint-enable */
		}

		.reply {
			float: right;
			text-transform: lowercase;
			margin: 10px;
			::before {
				content: "\27A6";
			}
		}

		.comments-title {
			display: none;
		}

		.comment-form-cookies-consent {
			display: none;
		}

		.comment-meta {
			display: flex;
		}

		.comment-content {
			margin: 10px;
			font-size: 14px;
			line-height: 21px;
		}

		.submit {
			color: $white;
			background: $black;
			float: right;
		}
	}

	.title-meta-hr {
		width: 100%;
	}

	.secondary {
		grid-area: sidebar;
		margin-right: 240px;

		.portfolio_widget {
			display: grid;
			grid-template-areas: "img img img img";
			grid-gap: 10px;
		}

		.widget-title {
			text-shadow: 2px $white;
			font-size: 25px;
			font-weight: 100;
		}

		.portfolio__img {
			height: 60px;
			width: 60px;
			border-radius: 5px;
		}
	}
}
