/* Media Queries */

@media only screen and (min-width: 1280px) {
	.site-header {
		display:flex;
		flex-direction: row;
		justify-content: center;

		.site-branding {
			display: block;
			margin-right: 200px;

			.custom-logo-link{
				display: block;
				width: 200px;
			}

		}

		.designfly-main-navigation {
			margin-left: 0 100px;

			.primary-menu {
				display: flex;
			}

			.designfly-search-form{
				display: flex;
			}

			.search-submit{
				height: 32px;
				margin-left: 10px;
			}
		}
	}

	.header-image {
		width: 100%;

		.carousel__box {
			padding-top: 10em;
		}
	}

	.servicebar-box {
		display: grid;
		padding-bottom: 10px;
		.service {
			display: flex;
			width: 300px;
		}
	}

	.portfolio-content {
		display: grid;
		grid-template-areas:
			"item item item"
			"item item item"
			"item item item"
			"item item item"
			"item item item"
			"pag pag pag";
		grid-gap: 10px;
		justify-content: center;
		align-items: center;
		margin: 0px;

		.portfolio-item {
			grid-area: item;
		}
	}

	hr {
		width: 70%;
	}

	.portfolio-title p {
		margin: 10px;
		padding-left: 190px;
	}

	.portfolio-button {
		display: none;
	}

	.lightbox-img {
		margin: 20px;
	}

	.designfly-custom-pagination {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0px;
		padding: 0px;
		grid-area: pag;
	}

	.site-content {
		/* blog home*/
		.designfly-blog-main {
			display: grid;
			grid-template-areas:
				"primary secondary";
			margin:auto;
			width: 70%;
		}

		.primary {
			grid-area: primary;
			margin: auto;

			.blog-post-container{
				display: grid;
				grid-template-areas: "auto auto";

			}
		}

		.secondary {
			grid-area: secondary;
			margin: 0 auto;
		}

		/* sinlge blog */
		.designfly-single-blog {
			display: grid;
			grid-template-areas:
				"primary secondary";
			width: 70%;
			margin:auto;
		}

		.primary {
			grid-area: primary;
			margin: auto;
			.entry-meta {
				margin: 10px;
				top: 0;
			}

			.blog-post-container {
				display: grid;
				grid-template-columns: auto;
				justify-content: center;
				align-items: center;
			}

			.wp-post-image {
				margin: auto;
			}
		}

		.secondary {
			grid-area: secondary;
			margin: 0 auto;
		}

	}

	.site-footer {
		display: flex;
		width: 70%;
	}
}

@media only screen and (max-width: 768px) {
	.site-header {
		display: grid;
		margin: 0px;
		padding: 0px;
	}

	.site-branding {
		margin-top: 10px;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.designfly-main-navigation {
		display: grid;
		justify-content: center;
		align-items: center;

		.primary-menu {
			display: grid;
			text-align: center;
		}
	}

	.header-image {
		width: 100%;
		height: auto;

		.carousel__box {
			margin-top: 0;
			padding-top: 0;
		}

		.carousel__slides__body {
			display: none;
		}
	}

	.servicebar {
		display: grid;
		justify-content: center;
		align-items: center;
	}

	.service__body {
		display: none;
	}

	.portfolio-content {
		display: grid;
		grid-template-areas:
			"item item"
			"item item"
			"item item"
			"item item"
			"item item"
			"item item"
			"item item"
			"item item"
			"pag pag ";
		grid-gap: 10px;
		justify-content: center;
		align-items: center;
		margin: 0px;

		.portfolio-item {
			grid-area: item;
		}
	}

	.portfolio-title p {
		margin: 0px;
		padding: 0px;
		text-align: center;

		.portfolio-button {
			display: none;
		}
	}

	.lightbox-img {
		margin: 20px;
	}

	.designfly-custom-pagination {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0px;
		padding: 0px;
		grid-area: pag;
	}

	.site-content {
		/* blog home*/
		.designfly-blog-main {
			display: grid;
			grid-template-areas:
				"primary"
				"secondary";
			margin: 0px;
		}

		.primary {
			grid-area: primary;
			margin: auto;
			.entry-meta {
				margin: 10px;
				top: 0px;
			}

			.blog-post-container {
				display: grid;
				grid-template-columns: auto;
				justify-content: center;
				align-items: center;
			}

			.wp-post-image {
				margin: auto;
			}
		}

		.secondary {
			grid-area: secondary;
			margin: auto;
		}

		/* sinlge blog */
		.designfly-single-blog {
			display: grid;
			grid-template-areas:
				"primary"
				"secondary";
			margin: 10px;
		}

		.primary {
			grid-area: primary;
			margin: auto;
			.entry-meta {
				margin: 10px;
				top: 0;
			}
			.blog-post-container {
				display: grid;
				grid-template-columns: auto;
				justify-content: center;
				align-items: center;
			}

			.wp-post-image {
				margin: auto;
			}
		}

		.secondary {
			grid-area: secondary;
			margin: auto;
		}
	}

	.site-footer {
		text-align: center;
		display: grid;
	}
}

@media only screen and (max-width: 568px) {
	.site-header {
		display: grid;
		margin: 0px;
		padding: 0px;
	}

	.site-branding {
		margin-top: 10px;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.designfly-main-navigation {
		display: grid;
		justify-content: center;
		align-items: center;

		.primary-menu {
			display: grid;
			text-align: center;
		}
	}

	.header-image {
		width: 100%;
		height: auto;

		.carousel__box {
			margin-top: 0;
			padding-top: 0;
		}

		.carousel__slides__body {
			display: none;
		}
	}

	.servicebar {
		display: grid;
		justify-content: center;
		align-items: center;
	}

	.service__body {
		display: none;
	}

	.portfolio-content {
		display: flex;
		flex-direction: column;
	}

	.portfolio-title p {
		margin: 0px;
		padding: 0px;
		text-align: center;

		.portfolio-button {
			display: none;
		}
	}

	.lightbox-img {
		margin: 20px;
	}

	.designfly-custom-pagination {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	.site-content {
		/* blog home*/
		.designfly-blog-main {
			display: grid;
			grid-template-areas:
				"primary"
				"secondary";
			margin: 0px;
		}

		.primary {
			grid-area: primary;
			margin: auto;
			.entry-meta {
				margin: 10px;
				top: 0;
			}
			.blog-post-container {
				display: grid;
				grid-template-columns: auto;
				justify-content: center;
				align-items: center;
			}

			.wp-post-image {
				margin: auto;
			}
		}

		.secondary {
			grid-area: secondary;
			margin: auto;
		}

		/* sinlge blog */
		.designfly-single-blog {
			display: grid;
			grid-template-areas:
				"primary"
				"secondary";
			margin: 0px;
		}

		.primary {
			grid-area: primary;
			margin: auto;
			.entry-meta {
				margin: 10px;
				top: 0;
			}
			.blog-post-container {
				display: grid;
				grid-template-columns: auto;
				justify-content: center;
				align-items: center;
			}

			.wp-post-image {
				margin: auto;
			}
		}

		.secondary {
			grid-area: secondary;
			margin: auto;
		}
	}

	.site-footer {
		text-align: center;
		display: grid;
	}
}
